.page {
    background-color: #D43A51;
    padding: .4rem/* 15/37.5 */;

    .banner {
        height: 6.4rem/* 240/37.5 */;
        
        img {
            width: 100%;
            height: 100%;
        }
    
        margin: -.4rem;
        margin-bottom: 0;
    }
    
    .outcomeWrap {
        border-radius: .133333rem/* 5/37.5 */;
        padding: .933333rem/* 35/37.5 */
        .4rem/* 15/37.5 */;
        height: 5.333333rem/* 200/37.5 */;
        background-color: #DA5A73;
    }
    
    .ticket {
        background: url('http://ozak7cmqk.bkt.clouddn.com/ticket-bg.png') no-repeat;
        background-size: 100% 100%;
        height: 3.466667rem/* 130/37.5 */;
    
        &::after {
            content: '';
            display: block;
        }
    
        .gold,
        .msgWrap {
            float: left;
            height: 3.466667rem/* 130/37.5 */;
        }
    
        .border {
            margin-top: .4rem/* 15/37.5 */;
            height: 2.666667rem/* 100/37.5 */;
            border-left: .026667rem/* 1/37.5 */
            solid rgba(224, 224, 224, .2);
        }
    
        .gold {
            color: #EB4150;
            font-size: .32rem/* 12/37.5 */;
            width: 2.666667rem/* 100/37.5 */;
            padding-left: .24rem/* 9/37.5 */;
            line-height: 3.466667rem/* 130/37.5 */;
    
            span {
                font-size: .8rem/* 30/37.5 */;
                font-weight: 500;
            }
        }
    
        .msgWrap {
            padding-left: .786667rem/* 29.5/37.5 */;
    
            p:nth-of-type(1) {
                color: #333333;
                font-weight: 500;
                font-size: .533333rem/* 20/37.5 */;
                padding-top: 1.026667rem/* 38.5/37.5 */;
            }
    
            p:nth-of-type(2) {
                color: #C1C1C1;
                font-size: .4rem/* 15/37.5 */;
                margin-top: .506667rem/* 19/37.5 */;
            }
        }
    }
    
    .reminder {
        font-size: .32rem/* 12/37.5 */;
        color: #FBDF4B;
        text-align: center;
        margin-top: .293333rem/* 11/37.5 */;
    }
    
    .useBtnWrap {
        padding: .8rem/* 30/37.5 */
        1rem/* 37.5/37.5 */;
        text-align: center;
    
        a {
            display: inline-block;
            background-color: #FBDF4B;
            height: 1.333333rem/* 50/37.5 */;
            line-height: 1.333333rem/* 50/37.5 */;
            color: #000;
            font-weight: 500;
            font-size: .453333rem/* 17/37.5 */;
            width: 100%;
            text-align: center;
            border-radius: .666667rem/* 25/37.5 */;
        }
    }
    
    .container {
        background: #FAEAEE;
        padding: .68rem/* 25.5/37.5 */ .4rem/* 15/37.5 */;
        border-radius: .133333rem/* 5/37.5 */;
        margin-bottom: .4rem/* 15/37.5 */;
    }
    
    .titleWrap {
        position: relative;
        text-align: center;
        margin-bottom: .4rem/* 15/37.5 */;
    
        span {
            font-size: .453333rem/* 17/37.5 */;
            font-weight: 500;
            padding: 0 .373333rem/* 14/37.5 */;
            background: #FAEAEE;
        }
    
        .horizonSeparate {
            border-top: .026667rem/* 1/37.5 */ solid #999999;
            margin-top: -.426667rem/* 16/37.5 */;
            z-index: -1;
        }
    }
    
    .item {
        background: #FAEAEE;
        margin: .333333rem/* 12.5/37.5 */ auto;
    
        &::after {
            clear: both;
            content: '.';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
        }
    
        img {
            border-radius: 50%;
            border: none;
            float: left;
            height: 1.2rem/* 45/37.5 */;
            width: 1.2rem/* 45/37.5 */;
        }
        .itemContent {
            float: left;
            margin-left: .4rem/* 15/37.5 */;
            padding: .133333rem/* 5/37.5 */;
    
            p:nth-of-type(1) {
                color: #000;
                font-size: .4rem/* 15/37.5 */;
            }
    
            p:nth-of-type(2) {
                color: #999999;
            }
        }
        .gold {
            float: right;
            color: #EB4150;
            font-size: .32rem/* 12/37.5 */;
    
            span {
                font-size: .8rem/* 30/37.5 */;
                font-weight: 500;
            }
        }
    }
    
    .content {
        p {
            font-size: .4rem/* 15/37.5 */;
        }
    }
}

